@use 'mixins' as m;

.navbar {
  @include m.flex($justify: space-between);
  background-color: var(--bg-color);
  padding: 10px 20px;
  height: 60px;
  width: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  @media (max-width: 600px) {
    padding: 5px;
    height: 50px;

    &_logo img {
      height: 30px;
    }
  }

  &_logo {
    display: flex;
    align-items: center;

    img {
      height: 40px;
      display: block;
    }
  }

  &_logout {
    @include m.button-base;
    background: var(--bg-btn);
  }
}
