<div class="crypto-skeleton">
  <div class="header-placeholder">
    <div class="title-placeholder"></div>
  </div>

  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>name</th>
          <th>price</th>
          <th>change</th>
          <th>chart</th>
        </tr>
      </thead>
      <tbody>
        @for (i of [].constructor(10); track $index){
        <tr>
          <td>
            <div class="flex-cell">
              <div class="avatar-placeholder"></div>
              <div class="text-placeholder"></div>
            </div>
          </td>
          <td><div class="price-placeholder"></div></td>
          <td><div class="change-placeholder"></div></td>
          <td><div class="chart-placeholder"></div></td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
