@use 'mixins' as m;

.login {
  height: 100vh;
  @include m.flex(column, $wrap: nowrap);

  &_heading {
    text-align: center;
    text-transform: capitalize;
    margin-inline: auto;
  }

  &_form {
    max-width: 20rem;
    margin: 0 auto;
    padding: 32px;
    border-radius: 12px;
    background-color: var(--bg-color);
    color: var(--text-color);
    box-shadow: var(--bg-shadow);
    &_name,
    &_password {
      width: inherit;
      margin-bottom: 20px;
      @include m.flex($justify: space-between);
    }
    &_error {
      width: 100%;
      padding: 8px;
      color: rgba(0, 0, 0, 0.582);
      font-size: 13px;
      text-transform: capitalize;
      background: #f8d7da;
      border-radius: 10px;
      margin : {
        top: 5px;
        bottom: 5px;
      }
    }

    button {
      @include m.button-base;
      width: 100%;
    }
  }
}
