@import 'variables';
@import 'mixins';

.login {
  height: 100vh;
  @include flex(column, $wrap: nowrap);

  &_heading {
    text-align: center;
    text-transform: capitalize;
    margin-inline: auto;
  }

  &_form {
    max-width: 20rem;
    margin: 0 auto;
    padding: 32px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &_name,
    &_password {
      width: inherit;
      margin-bottom: 20px;
      @include flex($justify: space-between);
    }
    &_error {
      width: 100%;
      padding: 8px;
      color: rgba(0, 0, 0, 0.582);
      font-size: 13px;
      text-transform: capitalize;
      background: #f8d7da;
      border-radius: 10px;
      margin : {
        top: 5px;
        bottom: 5px;
      }
    }

    button {
      @include button-base;
      width: 100%;
    }
  }
}
