@mixin button-base {
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  background-color: var(--bg-btn);
  color: white;
  outline: none;
  border: none;

  &:hover {
    background-color: #1d4ed8;
  }

  &:focus {
    outline: none;
  }
}
@mixin flex($direction: row, $justify: center, $align: center, $wrap: wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}
