@use 'variables' as v;

.dark-theme {
  --bg-color: #{v.$color-bg-dark};
  --text-color: #{v.$color-text-dark};
  --bg-btn: #{v.$color-button-dark};
  --bg-hover: #{v.$color-hover-dark};
  --bg-shadow: #{v.$shadow-dark};
}
