@use 'variables' as v;
.light-theme {
  --bg-color: #{v.$color-bg-light};
  --text-color: #{v.$color-text-light};
  --bg-btn: #{v.$color-button-light};
  --bg-hover: #{v.$color-hover-light};
  --bg-shadow: #{v.$shadow-light};
}
