<div class="parent-table relative" aria-label="Cryptocurrency data table">
  <table class="table" role="table">
    <thead class="table_thead">
      <tr class="table_thead_row">
        <th scope="col">name</th>
        <th scope="col">price</th>
        <th scope="col">change</th>
        <th scope="col">chart</th>
        <th *appRole="['admin']" scope="col" class="table_th px-6 py-3 flex items-center gap-2">
          <span> live </span>
          <span class="text-xs w-2 h-2 rounded-full bg-green-500"></span>
        </th>
        <th *appRole="['admin']" scope="col" class="px-6 py-3">action</th>
      </tr>
    </thead>
    <tbody>
      @for (crypto of cryptoData | search : searchValue; track crypto.id) {
      <tr class="table_row">
        <td *appRole="['admin']" class="table_row-img">
          <a [routerLink]="[crypto.id]">
            <img [src]="crypto.image" [alt]="crypto.name" class="w-7 md:w-10" loading="lazy" />
          </a>
          <span
            [title]="crypto.name"
            class="text-sm font-medium text-center md:text-left line-clamp-1"
            >{{ crypto.name }}</span
          >
        </td>
        <td *appRole="['user']" class="table_row-img">
          <img [src]="crypto.image" [alt]="crypto.name" class="w-7 md:w-10" loading="lazy" />
          <span
            [title]="crypto.name"
            class="text-sm font-medium text-center md:text-left line-clamp-1"
            >{{ crypto.name }}</span
          >
        </td>
        <td
          [style.color]="crypto.price_change_percentage_24h >= 0 ? '#00E396' : '#FF4560'"
          class="table_row_price"
        >
          {{ crypto.current_price | currency }}
        </td>
        <td
          [style.color]="crypto.price_change_percentage_24h >= 0 ? '#00E396' : '#FF4560'"
          class="table_row_price"
        >
          {{ crypto.price_change_percentage_24h | percent }}
        </td>
        <td class="table_row_chart">
          <app-chart
            [color]="getPriceChangePercentageColor(crypto.price_change_percentage_24h)"
            [series]="[{ data: crypto.sparkline_in_7d.price, name: crypto.name }]"
          />
        </td>
        <td *appRole="['admin']" class="table_row_live">
          <app-chart
            [color]="getPriceChangePercentageColor(crypto.price_change_percentage_24h)"
            [series]="[{ data: livePricesMap[crypto.id] || [], name: crypto.name }]"
          />
        </td>
        <td *appRole="['admin']" class="table_row_button">
          <a [routerLink]="[crypto.id]" aria-label="view page details">
            <svg
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
              <circle cx="12" cy="12" r="3" />
            </svg>
          </a>
          <button (click)="removeCrypto(crypto.id)" aria-label="Remove cryptocurrency">
            <svg
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              ></path>
            </svg>
          </button>
        </td>
      </tr>
      } @empty {
      <tr>
        <td colspan="6" class="table_row_empty">No data found</td>
      </tr>
      }
    </tbody>
  </table>
</div>
