@import 'mixins';
@import 'variables';

.parent-table {
  position: relative;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.table {
  min-width: 100%;
  width: max-content;
  border-collapse: collapse;
  font-size: 14px;

  &_thead {
    font-size: 14px;
    text-transform: capitalize;
    background-color: #ffffff;
    border-bottom: 1px solid $color-primary;
    border-top: 1px solid $color-primary;
    text-transform: capitalize;
    &_row {
      th {
        text-align: start;
        padding: 16px 24px;
      }
    }
  }

  &_row {
    border-bottom: 1px solid $color-primary;
    transition: background 0.4s ease;
    &:hover {
      background: #e3e3e3;
    }

    &-img {
      padding: 16px 24px;
      gap: 10px;
      @include flex(column);
      @media (min-width: 768px) {
        @include flex(row, $justify: start);
      }
    }

    &_price {
      padding: 16px 24px;
      font-weight: 600;
    }

    &_chart {
      max-width: 100px;
    }

    &_live {
      padding: {
        top: 16px;
        bottom: 16px;
        right: 20px;
        left: 20px;
      }
      max-width: 50px;
    }

    &_button {
      @include flex($wrap: nowrap, $justify: start);
      gap: 10px;
      padding: 16px 24px;

      button,
      a {
        cursor: pointer;
        border: none;
        padding: 8px;
        border-radius: 10px;
        svg {
          width: 15px;
          height: 15px;
        }
      }
    }

    &_empty {
      text-align: center;
      text-transform: capitalize;
      padding : {
        top: 16px;
        bottom: 16px;
      }
    }

    // Media Query
    &_live,
    &_chart,
    &_price,
    &-img {
      @media (max-width: 768px) {
        padding: 10px;
      }
    }
  }
}

img {
  max-width: 50px;
}
